<style>
.lipscore-service-review-testimonial .lipscore-service-review-testimonial-badge-wrapper {
    display: none;
}

.lipscore-service-review-testimonial .lipscore-service-review-testimonial-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
}

.lipscore-service-review-testimonial.lipscore-view-m {
    max-height: 350px;
}

.lipscore-service-review-testimonial.lipscore-service-review-modal-toggle.lipscore-view-m {
    height: 300px!important;
}

.lipscore-testimonial-slider-switcher {
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.lipscore-testimonial-slider-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.lipscore-testimonial-slider-slide:before {
    font-size: 30%;
    top: -140px;
}

.lipscore-testimonial-slider-slide-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.lipscore-testimonial-text-content {
    order: 0;
}

.lipscore-testimonial-slider-header {
    order: 1;
    margin-top: 40px;
    width: 100%;
}

.lipscore-widget-lang {
    display: none!important;
}

.lipscore-testimonial-slider-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.lipscore-testimonial-slider-user {
    display: block;
    margin-bottom: 5px;
}

.lipscore-view-m .lipscore-testimonial-slider .lipscore-testimonial-slider-user {
    margin-right: 0px;
}

.lipscore-testimonial-stars {
    margin-left: 0px!important;
}

.lipscore-testimonial-slider-date {
    padding-left: 0px;
}

.lipscore-testimonial-slider-text::before {
    content: "All reviews are genuine, verified, and collected by Lipscore. See what our customers say!";
    display: block;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.lipscore-service-review-testimonial {
    background-color: white;
    color: black;
}

.lipscore-service-review-testimonial * {
    color: black !important;
}

.lipscore-testimonial-slider-tick.lipscore-icon-circle {
    background-color: white;
}

.lipscore-testimonial-slider-tick.lipscore-icon-circle.lipscore-tick-active {
    color: black;
}

.lipscore-testimonial-slider-slide::before {
    color: #d9d9d945;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lipscore-testimonial-slider-tick.lipscore-icon-circle::before {
    content: "●";
    color: lightgray;
    font-size: 12px;
}

.lipscore-testimonial-slider-tick.lipscore-icon-circle.lipscore-tick-active::before {
    content: "●";
    color: black;
    font-size: 12px;
}

@media (max-width: 768px) {
    .lipscore-service-review-testimonial.lipscore-view-xs {
        max-height: 400px;
    }
    .lipscore-service-review-testimonial.lipscore-service-review-modal-toggle.lipscore-view-m {
        max-height: 400px!important;
        height: 400px!important;
    }
    .lipscore-service-review-testimonial {
        height: 400px;
        padding: 10px;
    }
    .lipscore-testimonial-slider-slide-content {
        max-height: 400px!important;
    }
    .lipscore-testimonial-slider-header {
        margin-top: 30px;
    }
    .lipscore-testimonial-stars {
        transform: scale(0.8);
    }
    .lipscore-testimonial-text-content {
        font-size: 15px;
    }
}

</style>

<div class="lipscore-service-review-testimonial"
    data-ls-widget-height="150px"
    data-ls-widget-width="100%">
</div>