{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'trustpilot_mini' -%}
      <script src="{{ 'trustpilot-product-reviews.js' | asset_url }}" async></script>
      {{ 'trustpilot-product-reviews.css' | asset_url | stylesheet_tag }}

      <div
        class="trustpilot-product-mini break element-spacing-all"
        style="
          --padding-top: {{ block.settings.padding_top }}px;
          --padding-bottom: {{ block.settings.padding_bottom }}px;
          max-height: 35px;
        "
      >
      {% render 'lipscore-rating', product: product %}
    </div>
  {%- endcase -%}
{%- endfor -%}
